#this is the main cors proxy code to the github repo https://github.com/nishal21/portfolio-cors-proxy
#fork it or copy code to the workers code pallet in there

VITE_CORS_PROXY_URL=https://your-cors-proxy.workers.dev/?url=

# this is the link shrotner proxy i added the code in a gist https://gist.github.com/nishal21/ba187199cd00ea6623b6cf4407e3a48d
#fork it or copy code to the workers code pallet in there

VITE_SHORTENER_URL=https://your-shortener.workers.dev/api/shorten

VITE_SHORTENER_API_URL=https://your-shortener.workers.dev/api/shorten
VITE_SHORTENER_WORKERS_DOMAIN=your-shortener.your-account.workers.dev
VITE_SHORTENER_CUSTOM_DOMAIN=yourdomain.com
